body{
	background: url('../img/bgpenutup.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: calibri;
}
hr{
	border-color: white;
}
nav{
    background-color: #189AEC;
    position: fixed;
    width: 100%;
    padding-bottom: 20px;
    top: 0;
    left: 0;
}
.navbar ul li{
    float: right;
    margin-right: 30px; 
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.navbar ul li a:hover{
    text-decoration: underline;
}
.navbar ul{
    list-style: none;
}
.linkprofile{
	text-decoration: none;
	color: black;
}
.title-profile{
	text-align: center;
	font-size: 3em;
	padding-top: 50px;
}
.profile-place{
	margin: 0 auto;
	width: 70%;
	background-color: yellow;
	margin-top: 50px;
}
.profile-place .photo{
	width: 50%;
	height: 50vh;
	background:url('../img/bio.jpeg');
	background-size: cover;
	background-position: center;
	float: left;
}
.profile-place .desc{
	width: 50%;
	float: left;
	height: 50vh;
	background-color: #189AEC;
}
.profile-place .desc h3{
	text-align: center;
	font-size: 24px;
}
.profile-place .desc h6{
	text-align: center;
	font-size: 18px;
	margin-top: -15px;
}
.parent-place-info-profile{
	padding: 0 0 0 20px;
}
.place-info-profile{
	float: left;
	text-align: center;
	margin-left: 15px;
}
.place-info-profile .info-profile{
	margin-top: 10px;
	margin-bottom: 30px;
}
.place-info-profile .info-profile p{
	font-size: 18px;
}

.profile-place2{
	margin: 0 auto;
	width: 70%;
	background-color: white;
	text-align: center;
}
.profile-place2 .desc img{
	padding-left: 20px;
}

.button-next-prev{
	position: fixed;
	right: 0;
	bottom: 0;
}
.button-next-prev .btn-next{
	background-color: #FFCB2C;
	color: white;
	cursor: pointer;
	width: 100px;
	padding: 10px;
	margin-right: 50px;
	margin-bottom: 15px;
	border-radius: 20px;
	border: none;
}
.button-next-prev .btn-next:hover{
	background-color: #c29b25;
}
.button-next-prev2{
	position: fixed;
	left: 10;
	bottom: 0;
}
.button-next-prev2 h5{
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
}